@use '../../styles/util/' as u1;


.imgEchOne {
    display: block;
    position: absolute !important;
    overflow: hidden;
    min-width: var(--imgWidth);
    height: var(--imgWidth);
    left: var(--imgWidth);
    z-index: 0;
    &:nth-child(1) {
        left: 0;
    }

    img {
        width: var(--imgWidth);
        height: var(--imgWidth);
        border-radius: 14px;
    }
}