@use '../../styles/util/' as u1;


.imgEchOne {
    display: block;
    overflow: hidden;
    position: relative;
    min-width: var(--imgWidth);
    height: var(--imgWidth);

    img {
        width: var(--imgWidth);
        height: var(--imgWidth);
        border-radius: 14px;
    }
}