@forward '../../styles/globals/';
@use '../../styles/util/' as u1;
@use "sass:math";


.test1 {
    @include u1.media(">=desktop") {
        background-color: yellow;

        &::after {
            content: "desktop"
        }
    }
    @include u1.media(">=tablet", "<desktop") {
        background-color: skyblue;

        &::after {
            content: "tablet"
        }
    }

    @include u1.media(">=phone", "<tablet") {
        background-color: aquamarine;

        &::after {
            content: "phone"
        }
    }
}

body {
    background-color: #fcd30c !important;
}
:root {
    --imgWidth: 400px;
}

.AppMain {
    @include u1.block_display();
    color: #2a1b1d;
    min-height: clamp(800px, 100vh, 5000px);

    div { position: relative; }
}
.TopHdr {
    padding: 30px 3%;
    text-align: center;
    font-size: clamp(15px, 40px + 2vw, 130px);
    letter-spacing: 3px;
    text-shadow: 2px 2px 0 rgba(252,211,12, 1), 8px 8px 0 rgba(42,27,29, 1);
}

.slidesSection {
    width: 1050px;
    margin: 20px auto 100px;

    .sld_mid_cvr {
        display: flex;
        z-index: 1;

        .ImgParOvr {
            display: flex;
            overflow: hidden;
            min-width: var(--imgWidth);
            height: var(--imgWidth);
        }

        .DtsParOvr {
            min-width: 600px;
            margin: 0 0 0 30px;
        }
    }

    .btnCvr {
        position: absolute !important;
        top: 0;
        right: -100px;
        left: -100px;
        bottom: 0;
        z-index: 0;
    
        button {
            width: 52px;
            height: 52px;
            line-height: 52px;
            border-radius: 80px;
            text-align: center;
            background-color: #e8f0d5;
            position: absolute;
            top: math.div(400, 2) + px;
            cursor: pointer;
            border: 2px solid #2a1b1d;
            transition: all .2s ease-out;

    
            &.right {
                right: 0;
            }

            &:hover {
                background-color: #fcd30c;
                border-color: #e8f0d5;
            }
        }
    }
    
}


.BuildHold {
    width: 500px;
    // height: 300px;
    position: absolute !important;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;
    // background-color: aqua;
    // display: none;

    img {
        position: relative;
        max-width: 100%;
        top: 2px;
    }
}