@forward '../../styles/globals/';
@use '../../styles/util/' as u1;



.test1 {
    @include u1.media(">=desktop") {
        background-color: yellow;

        &::after {
            content: "desktop"
        }
    }
    @include u1.media(">=tablet", "<desktop") {
        background-color: skyblue;

        &::after {
            content: "tablet"
        }
    }

    @include u1.media(">=phone", "<tablet") {
        background-color: aquamarine;

        &::after {
            content: "phone"
        }
    }
}

body {
    background-color: #fcd30c !important;
}
.AppMain {
    @include u1.block_display();
    color: #2a1b1d;

    div { position: relative; }
}
.TopHdr {
    padding: 30px 3%;
    text-align: center;
    font-size: clamp(15px, 35px + 2vw, 130px);
    letter-spacing: 3px;
    text-shadow: 2px 2px 0 rgba(252,211,12, 1), 8px 8px 0 rgba(42,27,29, 1);
}